* {
    box-sizing: border-box;
    text-align: center; 
}

.container {
    width: 800px;
    height: 800px;
    margin: auto;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex: 1;
}

.pixel {
    border: 1px solid black;
    flex: 1;
    user-select: none;
}

.slider {
    height: 20px;
    width: 30%;
}
