* {
    box-sizing: border-box;
    text-align: center; 
}

body {
    background: #f7c654;
}

h1, p, li {
    color:#471b6b;
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
}

section {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1400px;
    margin: 0 auto;
}

/* Main */
.container {
    width: 700px;
    height: 700px;
    margin: auto;
    border: 30px solid #db0707;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    cursor: url('../img/pencil-cursor.png') 0 32, auto;
}

.line {
    display: flex;
    flex: 1;
}

.pixel {
    flex: 1;
    user-select: none;
}

.border {
    border: 1px solid black;
}

/* Slider */
.slider {
    height: 20px;
    width: 30%;
}

.value {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}


/* Tools */
.tools {
    width: 250px;
    font-size: 30px;
    text-align: left;
}

.tool, .toggle-grid {
    margin: 20px 0;
    text-align: left;
    padding: 10px;
    border: 1px solid #471b6b;
    border-radius: 10px;
}

.tool:hover, .toggle-grid:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

.tool-img {
    width: 50px;
    padding-right: 15px;
}

.toggle-grid {
    padding-left: 25px;
}

.active {
    border: 5px solid #db0707;
}

